﻿@page
@{
    ViewData["Title"] = "DataBase";
}


<div class="container body-content" style="font-size: 40px;">
<h1>Задача</h1>

<hr/>
    <p>Боссу надоело вводит каждый раз по три команды для запуска окружения (просто посмотреть хочет как это через Docker).
        Сделайте для него .bat, для запуска окружения</p>
</div>
