﻿@page
@{
    ViewData["Title"] = "DataBase";
}


<div class="container body-content" style="font-size: 40px;">
<h1>Задача</h1>

<hr/>
<p >От Босса поступила задача - нужно предоставить Диаграмму БД, которая используеться в проекте.</p>
</div>
