﻿@page
@{
    ViewData["Title"] = "Начало";
}
<div class="container body-content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
       
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/docker.png" width="100%" class="img-responsive" />

            </div>
            <div class="item">
                <img src="~/images/DockerProcess.png" class="img-responsive" />

            </div>

        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="row">
        
        <h1>Перед началом работы удалим контейнеры. Для того чтобы не пересикались порты <code>docker rm $(docker ps -a -q) -f </code></h1>
        <div class="col-md-12">
            <h2>Aвтоматизация «development» среды с помощью docker-compose</h2>
            <p>Docker-compose это простой инструмент, который позволяет настроить и запустить несколько контейнеров одной командой. </p>
            <p>Docker-compose это очень полезный и гибкий способ автоматизации запуска проектов.</p>
            <p>Когдановый разработчик добавляеться в команду, то при использовании docker-compose документация для старта сводиться к Установить Docker и Docker-compose, склонировать репозиторий, запустить .bat. (Если откинуть возню с docker)</p>
            <p>Вся конфигурация для docker-compose описывается в файле docker-compose.yml, который обычно лежит в корне проекта. </p>
        </div>
        <div class="col-md-12">
            <h2>Начнем с автоматизации запуска Web приложения</h2>
            <p> Вот так будет выглядеть конфигурационный файл:</p>
            <blockquote>
                <pre>
                <code>
                    version: '2'
                      services:
                        web_app:
                        container_name: web_app
                        image: web_app
                        build:
                           context: ./WorkshopDocker
                           dockerfile: Dockerfile
                        ports:
                          - 5555:80
                </code>
    </pre>
            </blockquote>


            Чтобы запустить проект, нам понадобиться одна команда:
            <br/>
            <code>docker-compose up --build</code>
            <br/>
            Остановить все контейнеры:
            <br/>
            <code> docker-compose stop</code>
            <br/>
            Удалить:
            <br/>
            <code> docker-compose rm --force</code>

            <h1>Подключим приложение к БД</h1>
            Для этого
            <ul>
                <li>В качестве Бд будем использовать Postgres версии 10.6. Берем официальный образ из <a href="https://hub.docker.com/_/postgres/">hub.docker.com</a>.</li>
                <li>В docker-compose необходимо добавить сервис, и обьявить для него environment переменные</li>
                <li>Что за БД без миграций в репозитории есть папка с миграциями <code>./DataBaseMigrations:/flyway/sql</code> нужно накатить миграции на БД. Образ -<a href="https://hub.docker.com/r/boxfuse/flyway/">hub.docker.com</a>. Версия 5.2.1. Для запуска миграций нужно использовать комманду <code>-url=jdbc:postgresql://ИМЯ_КОНТЕЙНЕРА_БД:5432/test -user=test -password=test -connectRetries=60 migrate</code></li>
                <li>Для определения последовательности запуска контейнеров - <a href="https://docs.docker.com/compose/compose-file/compose-file-v2/#depends_on">depends_on</a> </li>
                <li>Зачем бд если оно не подключено к приложению. В Описании контейнера нужно добавить Environment переменную <code>CONNECTIONSTRINGS__TEST: Server=ИМЯ_КОНТЕЙНЕРА_БД;Port=5432;Database=test;Uid=test;Pwd=test</code></li>

            </ul>

            <input class="btn btn-default" value="протестировать подключение к БД" id="selector" style="min-width: 100%"/>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close"
                                    data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Тест подключения</h4>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <br/>
            <br/>
            <br/>
            <br/>
            <a href="#demo" data-toggle="collapse" style="color: transparent">Правильный ответ</a>

            <div id="demo" class="collapse">
                <blockquote style="color: black">
                    <pre>
                    <code>


                    version: '2'
                      services:
                        web_app:
                         container_name: web_app
                         image: web_app
                         environment:
                           CONNECTIONSTRINGS__TEST: Server=db;Port=5432;Database=test;Uid=test;Pwd=test
                         build:
                           context: ./WorkshopDocker
                           dockerfile: Dockerfile
                         ports:
                           - 5555:80
                         depends_on:
                            - db
                            - flyway

                       db:
                        image: postgres:10.6
                          environment:
                            POSTGRES_USER: test
                            POSTGRES_PASSWORD: test
                            POSTGRES_DB: test

                       flyway:
                         image: boxfuse/flyway:5.2.1
                         command: -url=jdbc:postgresql://db:5432/test -user=test -password=test -connectRetries=60 migrate
                         volumes:
                            - ./DataBaseMigrations:/flyway/sql
                         depends_on:
                            - db
                </code>
         </pre>
                </blockquote>

            </div>


        </div>
    </div>
</div>

@section Scripts

    {
    
    <script>
        $('#selector').click(function(e){
            e.preventDefault();
            $.ajax({
                url:"@Url.Action("Test", "Test")",
                type: "GET",
                success: function (data) {
                    $mymodal = $("#myModal");
                    $mymodal.find("div.modal-body").html(data);
                    $mymodal.modal("show");
                },
                error: function(xhr, ajaxOptions, thrownError){
                    //what to do in error
                },
                timeout : 15000//timeout of the ajax call
            });

        });


    </script>

}

