﻿@page
@{
    ViewData["Title"] = "Введение";
}
<h2>@ViewData["Title"]</h2>
<div class="main">
    <section>
        <div class="container body-content">
            <h1>Если работать без автоматизации «development» среды</h1>
        <hr/>
            <div class="row">
                <div class="col-md-offset-2 col-md-1">
                    <img src="/images/nginx-1.png" class="img-responsive" width="100%">

                </div>
                <div class="col-md-1">

                    <img src="/images/1492535127_microsoft-sql-server-2014.png" class="img-responsive">

                </div>
                <div class="col-md-1">
                    <img src="/images/Seq-380px-1.png" class="img-responsive">
                </div>
                <div class="col-md-1">
                    <img src="/images/postgresql-logo.png" class="img-responsive">
                </div>
                <div class="col-md-1">
                    <img src="/images/square-logo.jpg" class="img-responsive">
                </div>
                <div class="col-md-1">
                    <img src="/images/32771815-03632fa0-c935-11e7-9f19-2297bd4cc3f5.png" class="img-responsive">
                </div>
                <div class="col-md-1">
                    <img src="/images/IMG_0406.png.pagespeed.ce.k529Ei0W07.png" class="img-responsive">
              
               
                </div>
          
            </div>
            <hr/>
        <p style="font-size: 20px">  Запуск приложения в рабочем окружении всегда был непростой задачей.
            Приходилось делать много дополнительной работы от установки базы данных до конфигурации приложения, чтобы просто его запусить.
            Разработчики любят писать документацию, и шаги для запуска проекта обычно спрятаны в головах членов команды.
            В итоге, запуск проекта становится болезненной задачей.</p>
            <p style="font-size: 20px">  Многие проекты просты в начале, но становятся больше со временем.
            Это приводит к увеличению внешних зависимостей, таких как базы данных, очереди. 
            Многие проекты перестают быть монолитными и разделяются на несколько небольших частей. 
            Любое такое изменение требует внимания всей команды, так как после таких изменений, проект нужно запускать по-другому.</p>

        </div>
    </section>
    <section>
        <div class="container body-content">
            <h1>
                Docker — программа, позволяющая операционной системе запускать процессы в изолированном окружении на базе специально созданных образов.
               
            </h1>
            <div class="row">
                <div class="col-md-4">  <img src="/images/docker_facebook_share.png" class="img-responsive"></div>
                <div class="col-md-8"> <h2> Чем нам может помочь:</h2>
                    <ul style="font-size: 20px">


                        <li>изолированный запуск приложений в контейнерах</li>
                        <li>упрощение разработки, тестирования</li>
                        <li>
                            отсутствие необходимости конфигурировать среду для запуска — она поставляется вместе с приложением — в контейнере
                        </li>
                        <li>упрощает масштабируемость приложений и управление их работой с помощью систем оркестрации контейнеров.</li>
                    </ul></div>
            </div>
           
          
        </div></section>
    
    <section>
        <div class="container body-content">
        <h1>
            Отличие от VIRTUAL MACHINES  
        </h1>
       
      
            <img src="~/images/docker-containerized-and-vm-transparent-bg.png" class="img-responsive" width="60%" style="margin-left: 18%;"/>
            <div class="row">
                <div class="col-md-6"> Само понятие контейнеров не ново и давно известно в Linux. Идея состоит в том, чтобы в рамках одной ОС выделить изолированную область и запускать в ней приложение.
                    В этом случае говорим о виртуализации на уровне ОС. В отличие от ВМ контейнеры изолированно используют свой кусочек ОС: файловая система, дерево процессов, сетевые интерфейсы.
                    Т.е. приложение, запущенное в контейнере думает, что оно одно во всей ОС. Изоляция достигается за счет использования таких Linux-механизмов, как namespaces и control groups.
                    Namespaces обеспечивают изоляцию в рамках ОС, а control groups устанавливают лимиты на потребление контейнером ресурсов хоста, чтобы сбалансировать распределение ресурсов между запущенными контейнерами
                </div>
                <div class="col-md-6">Виртуальные машины делят между собой физические ресурсы хоста:процессор, память, дисковое пространство, сетевые интерфейсы.
                    На каждой ВМ устанавливаем нужную ОС и запускаем приложения. Недостатком такого подхода является то, что значительная часть ресурсов хоста расходуется не на полезную нагрузку(работа приложений), а на работу нескольких ОС. 
                </div>
            </div>
       
        </div>
    </section>
    <section>
        <div class="container body-content ">
            <h1>
                Основы 
            </h1>
       
            <li style="font-size: 20px;">
                <b>образы (images)</b> - это read-only шаблон. Например, образ может содержать операционку centos c .net core sdk.
                Образы используются для создания контейнеров. Docker позволяет легко создавать новые образы, обновлять существующие, или вы можете скачать образы созданные другими людьми.
            </li>
            <li style="font-size: 20px;"><b>реестр (registries)</b> - хранит образы. Есть публичные и приватные реестры, из которых можно скачать либо загрузить образы. Публичный Docker-реестр — это Docker Hub. Там хранится огромная коллекция образов.</li>
            <li style="font-size: 20px;">
                <b> контейнеры</b> - В контейнерах содержится все, что нужно для работы приложения. Каждый контейнер создается из образа.
                Контейнеры могут быть созданы, запущены, остановлены, перенесены или удалены. Каждый контейнер изолирован и является безопасной платформой для приложения. </li>
            
            <img src="/images/DDD.png" class="img-responsive" width="50%" style="margin-left: 25%">
              
        </div>
    </section>
    <section>
        <div class="container body-content ">
            <h1>
                Основы 
            </h1>
       
            <li style="font-size: 25px;">
                Докер образ (image) — это некоторый набор слоёв. Каждый слой — результат работы команды в Dockerfile. Грубо говоря образ — это шаблон на основе которого вы будете запускать контейнеры. Все что запускается на основе этого образа есть контейнер, или инстанс. т.е. с одного образа можно запустить несколько одинаковых копий этого образа — контейнеров.
            </li>
           
            <img src="/images/DDD.png" class="img-responsive" width="50%" style="margin-left: 25%">
              
        </div>
    </section>
    <section>
        <div class="container body-content " style="font-size: 20px">
            <h1>
                let's start
            </h1>

            <a hidden="https://gitlab.com/murashov_zhen/workshop-docker.git">https://gitlab.com/murashov_zhen/workshop-docker.git</a>

            В репозитории есть набор приложений net core, миграции для бд, конфиг nginx.
            <br />
            Попробуем автоматизировать dev env.
            <br />
            <br />
            <br />
            <code>git clone https://gitlab.com/murashov_zhen/workshop-docker.git</code>
            <br />
            <code>cd {repository}/WorkshopDocker</code>

            <br />
            Запустим первый Docker контейнер.
            <br />
            <code>docker build -t workshop .</code>
            <br />
            <br />
            Посмотреть какие образы есть в локальном репозитории можно коммандой.
            <br />
            <code>docker images</code>
            <br />
           Очистить все образы
            <br />
            <code>docker rmi $(docker images -a -q)</code>
            <br />
            Удалить контанеры
            <br />
            <code>docker rm $(docker ps -a -q) -f</code>
            <br />
            <br />
            Ну и сам запуск.
            <code>docker run -p 5555:80 workshop</code>

        </div>
    </section>
   
</div>
@section Scripts

{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/onepage-scroll.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/onepage-scroll/1.3.1/jquery.onepage-scroll.min.js" asp-append-version="true"></script>
    <script>
        $(".main").onepage_scroll({
            sectionContainer: "section",     // sectionContainer accepts any kind of selector in case you don't want to use section
            easing: "ease",                  // Easing options accepts the CSS3 easing animation such "ease", "linear", "ease-in",
            // "ease-out", "ease-in-out", or even cubic bezier value such as "cubic-bezier(0.175, 0.885, 0.420, 1.310)"
            animationTime: 1000,             // AnimationTime let you define how long each section takes to animate
            pagination: true,                // You can either show or hide the pagination. Toggle true for show, false for hide.
            updateURL: false,                // Toggle this true if you want the URL to be updated automatically when the user scroll to each page.
            beforeMove: function(index) {},  // This option accepts a callback function. The function will be called before the page moves.
            afterMove: function(index) {},   // This option accepts a callback function. The function will be called after the page moves.
            loop: false,                     // You can have the page loop back to the top/bottom when the user navigates at up/down on the first/last page.
            keyboard: true,                  // You can activate the keyboard controls
            responsiveFallback: false,        // You can fallback to normal page scroll by defining the width of the browser in which
            // you want the responsive fallback to be triggered. For example, set this to 600 and whenever
            // the browser's width is less than 600, the fallback will kick in.
            direction: "vertical"            // You can now define the direction of the One Page Scroll animation. Options available are "vertical" and "horizontal". The default value is "vertical".  
        });
    </script>

}
