﻿@page
@{
    ViewData["Title"] = "DataBase";
}


<div class="container body-content" style="font-size: 40px;">
<h1>Задача</h1>

<hr/>
    <p >Инфраструктура разрастается. Добавилось еще одно приложение, которое очень активно пишет логи. При этом консоль как в матрице. 
        А нужно как то увидеть что пишет в логи первое приложение. 
    </p>
    <p>Нужно отключить назойливые логи</p>
</div>
