﻿@page
@{
    ViewData["Title"] = "Начало";
}
<div class="container body-content">
  
    <h1>Подключаем NGINX</h1>
    
    <p>
        Запуск инфраструктуры автоматизировали. Приложение доступно по порту. Но Если таких приложений не одно то нужно запоминать на каком порту какое. 
    </p>
    <p>
        Что бы облегчить себе жизнь подключим nginx.  Конфиг nginx в папке <code>./Nginx:/etc/nginx/</code>. Образ -<a href="https://hub.docker.com/_/nginx/">hub.docker.com</a>.
        
    </p>
    
    <blockquote>
        <pre>
            <code>
                nginx:
                  image: nginx
                  volumes:
                   - ./Nginx:/etc/nginx/
                  depends_on:
                    - web_app
                  ports:
                    - "80:80"
            </code>
    </pre>
    </blockquote>
    
    <p>
        а теперь пробуем - <a href="http://dockerworkshop.localtest.me/">dockerworkshop.localtest.me</a>
    </p>
   
    
    <p>
        Для следующего задания. Добавим в compose еще одно приложение.
    </p>
    <blockquote>
        <pre>
            <code>
                logs:
                  container_name: logs
                  image: logs
                  build:
                    context: ./Logs
                    dockerfile: Dockerfile
            </code>
    </pre>
    </blockquote>
   
    

</div>

